header {
    font-family: 'Inconsolata', monospace;
    letter-spacing: -0.08em;
    color: #333333;
}

#infotext>div:nth-of-type(1) {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    line-height: 1.5em;
    color: #333333;
}

#infotext>div:nth-of-type(2) {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    line-height: 1.3em;
    color: #4F4F4F
}

#homeButton {
    background-color: #333333;
}

#homeButtonText {
    font-family: 'Space Mono', monospace;
    color: white;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
}

footer a {
    text-decoration: none;
    color: #BDBDBD;
}

footer a:hover {
    text-decoration: underline;
    color: #BDBDBD;
}